<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings><hints>true</hints><rows>10</rows><columns>10</columns><mines>10</mines><highScores><place mode="EXPERT" playerName="Damian M." time="1"/><place mode="ADVANCED" playerName="Michai Bialkov" time="55"/><place mode="ADVANCED" playerName="Ryszard Lubicz" time="57"/><place mode="BEGINNER" playerName="Stefan" time="6"/><place mode="BEGINNER" playerName="Alice" time="10"/><place mode="CUSTOM" playerName="Saperownik" time="7"/><place mode="CUSTOM" playerName="---" time="999"/><place mode="CUSTOM" playerName="---" time="999"/><place mode="CUSTOM" playerName="---" time="999"/><place mode="CUSTOM" playerName="---" time="999"/></highScores></settings>