<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings><hints>false</hints><rows>15</rows><columns>15</columns><mines>3</mines><highScores><place playerName="Damian" time="0"/><place playerName="---" time="999"/><place playerName="---" time="999"/><place playerName="---" time="999"/><place playerName="---" time="999"/><place playerName="---" time="999"/><place playerName="---" time="999"/><place playerName="---" time="999"/><place playerName="---" time="999"/><place playerName="---" time="999"/></highScores></settings>